.login-container {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
}
  
form {
  width: 100%;
}
  
.login-content {
  width: 400px;
  display: block;
  margin: 0 auto;
}
  
.login-toolbar {
  justify-content: center;
}
  
.mat-form-field {
  width: 100%;
  display: block;
}
  
.mat-raised-button {
  width: 100%;
  margin-top: 15px;
}

.card {
  padding: 20px;
  height: 300px;
  -webkit-box-shadow: 7px 10px 5px 0px rgba(189,183,189,1);
  -moz-box-shadow: 7px 10px 5px 0px rgba(189,183,189,1);
  box-shadow: 7px 10px 5px 0px rgba(189,183,189,1);
}

.error {
  color: red;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
  margin-left: 2px;
}
  